
@media screen 
and (min-width: 1200px){
	.software {
	width: 450px;
	height: 580px;
	background:url("software.png") 0px 0px;
	}
}

@media screen 
and (min-width: 1000px) 
and (max-width: 1200px){
	.software {
	width: 430px;
	height: 580px;
	background:url("software.png") -440px 0px;
	}	
}

@media screen 
and (min-width: 800px) 
and (max-width: 1000px){
	.software {
	width: 350px;
	height: 580px;
	background:url("software.png") -860px 0px;
	}	
}

@media screen 
and (min-width: 600px) 
and (max-width: 800px){
	.software {
	width: 720px;
	height: 630px;
	background:url("software.png") 0px -580px;
	}	
}
@media screen 
and (max-width: 600px) {
	.software {
	width: 490px;
	height: 630px;
	background:url("software.png") -720px -580px;
	}	
}


